/* grid-breakpoints (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
); */

/* .carousel{
  align-items: baseline;
} */

h2{
  text-align: center;
}
.carousel-img{
  height: 1200px;
}
/* .carousel{
  background-size: 150px;
  width: 300px;
  height: 300px;
} */